$wrapper-width-min: 389px;

$conteiner-width-max: 1512px;

$catalog-card-width: 724px;
$catalog-card-height: 454px;

$catalog-slider-bar-height: 7px;

$catalog-slidercard-width: 300px;
$catalog-slidercard-height: 252px;